body{
    text-align: center;
}
.btn{
    height: 170px;
    width: 170px;
    border-radius: 20% ;
    border: 10px solid black;
    margin: 2px;
}
.btn-container{
    display:flex;
    justify-content: center;
}
.red{
    background-color: rgb(164, 69, 69);
}
.yellow{
    background-color:rgb(155, 155, 69) ;
}
.green{
    background-color: rgb(66, 148, 66);
}
.purple{
    background-color:rgb(126, 65, 126) ;
}
.gameflash{
    background-color: white;
}
.userflash{
    background-color: black;
}